 <header id="header">
        <img src="/images/currently-offli_65764175.png" alt="Banner" class="banner">
        <div class="banner-text">
            
            <!-- <p>El arte desafía a la <br>
                tecnología y la tecnología <br>inspira al 
                arte </p> -->
                <h2>PORTAFOLIO</h2>
                <h1>José Everildo Pacheco Tzaj</h1>
        </div>
    </header>