 <!-- Navbar -->
    <nav id="navbar">
        <ul>
            <li><a href="/"><img src="/images/home3.png" alt="inicio icono"> Inicio</a></li>
            <li><a href="/habilidades"><img src="/images/habilidades2.png" alt="habilidades icono"> Habilidades</a></li>
            <li><a href="/proyecto"><img src="/images/portafolio3.png" alt="portafolio icono"> Portafolio</a></li>
            <li><a href="/estudios"><img src="/images/Estudio3.png" alt="estudios icono"> Estudios</a></li>
            <li><a href="/contacto"><img src="/images/contactos3.png" alt="contacto icono"> Contacto</a></li>
        </ul>
    </nav>