<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTOS</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
   <!-- Header -->
 {{>header}}

  {{>navbar}} 

    <!-- Navbar -->



    <div class="trabajos">
        <div class="galeria galeria-imagenes">
            <div class="item proyecto borde">
              
                <img src="/images/Proyecto1compi.png" alt="Imagen 1">
                <div class="info">
                    <h3>ANALIZADOR LEXICO</h3>
                    <span>C#</span>
                    <a href="/proyecto1">CLICK VER DESCRIPCIÓN</a>
                </div>
            </div>
    
            <div class="item proyecto borde">
                <img src="/images/Proyecto2taller.png" alt="Imagen 2">
                <div class="info">
                    <h3>TALLER DE REPARACION</h3>
                    <span>C++</span>
                    <a href="/proyecto2">CLICK VER DESCRIPCIÓN</a>
                </div>
            </div>
                        
            <div class="item proyecto">
                <img src="/images/Proyecto3burger.png" alt="Imagen 3">
                <div class="info">
                    <h3>AUTO PEDIDO DE COMIDA</h3>
                    <span>C++</span>
                    <a href="/proyecto3">CLICK VER DESCRIPCIÓN</a>
                </div>
            </div>
            
            <div class="item proyecto">
                <img src="/images/Proyecto4ahorrcado.png" alt="Imagen 4">
                <div class="info">
                    <h3>JUEGO DE AHORCADO</h3>
                    <span>JAVA</span>
                    <a href="/proyecto4">CLICK VER DESCRIPCIÓN</a>
                </div>
            </div>
            
            <div class="item proyecto">
                <img src="/images/Proyecto5.png" alt="Imagen 5">
                <div class="info">
                    <h3>USO DE MATRICES Y VECTORES</h3>
                    <span>C++</span>
                    <a href="/proyecto5">CLICK VER DESCRIPCIÓN</a>
                </div>
            </div>
            
            <div class="item proyecto">
                <img src="/images/MRU.png" alt="Imagen 6">
                <div class="info">
                    <h3>MRU -</h3>
                    <span>JS</span> <span>HTML5</span><span>CSS3</span>
                    <a href="/proyecto6">CLICK VER DESCRIPCIÓN</a>
                </div>
            </div>
            
            <div class="item proyecto">
                <img src="/images/iggs.png" alt="Imagen 7">
                <div class="info">
                    <h3>CALCULADORA IGGS</h3>
                    <span>JS</span> <span>HTML5</span><span>CSS3</span>
                    <a href="/proyecto7">CLICK VER DESCRIPCIÓN</a>
                </div>
            </div>
            
            <div class="item proyecto borde">
                <img src="/images/etica.png" alt="Imagen 8">
                <div class="info">
                    <h3>PAGINA EDUCATIVA ETICA</h3>
                    <span>JS</span><span>HTML5</span><span>CSS3</span>
                    <a href="/proyecto8">CLICK VER DESCRIPCIÓN</a>
                </div>
            </div>
        </div>
    </div>
    

     {{>footer}}

</body>
</html>
