<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO7</title>
    <link rel="stylesheet" href="/css/estiloproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>
<body>
    <!-- Header -->
   {{>header}}

  {{>navbar}} 

    <!-- Main Content -->
    <main>
        <h2>CALCULADORA IGGS</h2> <!-- Título agregado aquí -->
        <div class="container">
            <div class="image-slider">
                <div class="slides">
                    <img src="/images/iggs.png" alt="Descripción de la imagen 1">
                    <img src="/images/iggs2.png" alt="Descripción de la imagen 2">
                    <img src="/images/iggs.png" alt="Descripción de la imagen 3">
                    <!-- Agrega más imágenes según sea necesario -->
                </div>
                <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                <button class="next" onclick="moveSlide(1)">&#10095;</button>
            </div>
            <div class="description">
                <h1>Descripción del Proyecto</h1>
                <p><br><b>Año:</b> 2024<br> <br><b>Categoria:</b> Programa de Web<br> <br> El proyecto de Calculadora de Jubilación del IGSS es una aplicación web diseñada para ayudar a los trabajadores guatemaltecos a estimar su fecha de jubilación y calcular el monto de su pensión, de acuerdo con las regulaciones y normativas del Instituto Guatemalteco 
                    de Seguridad Social (IGSS) <br><br>El objetivo de este proyecto es proporcionar a los trabajadores guatemaltecos una herramienta útil para planificar su jubilación. </p>
            </div>
        </div>
        <a href="https://pachecotzaj.github.io" class="github-button"target="_blank" rel="noopener noreferrer">Ver en GitHub</a>
    </main>
    <script src="/views/script.js"></script>
       {{>footer}}
</body>
</html>
